In [1]:
True and True

True

In [2]:
True or True

True

In [3]:
True and False

False

In [4]:
False or False

False

In [6]:
a = 3
b=4

In [7]:
a%2!=0 or b%2!=0

True

new

In [8]:
c = 'dok'

In [9]:
c[0]

'd'

In [10]:
c[2]

'k'

In [12]:
len(c)

3

In [13]:
c[len(c)-1]

'k'

In [14]:
c = 'My name is bla bla bla'

In [15]:
c[9:]

's bla bla bla'

In [16]:
c[:9]

'My name i'

c[include:exlcude]

In [17]:
c[3:9]

'name i'

In [18]:
c[-1]

'a'

In [24]:
c[::-1]

'alb alb alb si eman yM'

In [25]:
a = int(input("Enter number: "))

b = str(a)[::-1]

Enter number: 456

In [26]:
b

'654'

In [27]:
print(str(a) == b)

False

In [29]:
a = int(input("Enter number: "))

b = str(a)[::-1]

print(str(a) == b)

Enter number: 4554
True

NEW

In [31]:
name = 'Zhangir'
for i in name:
    print(i)

Z
h
a
n
g
i
r

In [32]:
counter = 0
for i in range(5):
    print(counter)
    counter += 1

0
1
2
3
4

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

In [34]:
for i in range(6):
    if i==2:
        print(i)
    else:
        print('Not 2')

Not 2
Not 2
2
Not 2
Not 2
Not 2

In [35]:
for i in range(12):
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [40]:
for i in range(1,6):
    if i%3==0:
        print('Stopped')
        break
    print(i)

1
2
Stopped

NEW

In [45]:
k = int(input("ENTER K "))
n = int(input("ENTER N "))

for i in range(3,n+1):
    print(k)

ENTER K 7
ENTER N 8
7
7
7
7
7
7

In [52]:
price = float(input("Enter price: "))

for i in range(1,11):
    print(i/10*price)

Enter price: 420
42.0
84.0
126.0
168.0
210.0
252.0
294.0
336.0
378.0
420.0

In [56]:
price = float(input("Enter price: "))
counter = 1.2
for i in range(1,6):
    print(counter*price)
    counter += 0.2

Enter price: 400
480.0
560.0
640.0
719.9999999999999
799.9999999999999

In [55]:
A = int(input("ENTER A: "))
B = int(input("ENTER B: "))
c = 0

for i in range(A, B+1):
    c = c + i

print(c)

ENTER A: 4
ENTER B: 9
39

In [61]:
n = int(input("ENTER N: "))
c = 0

for i in range(1, n+1):
    c = c + 1/i
print(c)

ENTER N: 7
2.5928571428571425