In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('half_preprocessed.csv')
df.head()

,Year,Город,Коробка передач,Кузов,Привод,Пробег,Растаможен,Руль,Цвет,Names,Price_last,Volume,Fuel_type
0,2018,Алматы,автомат,седан,передний привод,1,Да,слева,серебристый металлик,Toyota Camry,13800000,2.5,бензин
1,2014,Алматы,автомат,внедорожник,полный привод,10300,Да,слева,черный,Mercedes-Benz G 63 AMG,68000000,5.5,бензин
2,2013,Алматы,автомат,седан,передний привод,39258,Да,слева,серый металлик,Toyota Corolla,5499999,1.6,бензин
3,1993,Шымкент,автомат,седан,задний привод,0,Да,слева,серый металлик,Mercedes-Benz E 220,1850000,2.2,газ-бензин
4,2013,Актобе,автомат,кроссовер,полный привод,60000,Да,слева,серый,Mitsubishi Outlander,6100000,2.4,бензин

In [4]:
df['Fuel_type'] = df['Fuel_type'].fillna('аккумулятор')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4751 entries, 0 to 4750
Data columns (total 13 columns):
Year               4751 non-null int64
Город              4751 non-null object
Коробка передач    4751 non-null object
Кузов              4751 non-null object
Привод             4751 non-null object
Пробег             4751 non-null int64
Растаможен         4751 non-null object
Руль               4751 non-null object
Цвет               4751 non-null object
Names              4751 non-null object
Price_last         4751 non-null int64
Volume             4751 non-null object
Fuel_type          4751 non-null object
dtypes: int64(3), object(10)
memory usage: 482.6+ KB

In [10]:
y = df['Price_last']
df = df.drop(columns=['Price_last'], axis = 1)
df.head()

,Year,Город,Коробка передач,Кузов,Привод,Пробег,Растаможен,Руль,Цвет,Names,Volume,Fuel_type
0,2018,Алматы,автомат,седан,передний привод,1,Да,слева,серебристый металлик,Toyota Camry,2.5,бензин
1,2014,Алматы,автомат,внедорожник,полный привод,10300,Да,слева,черный,Mercedes-Benz G 63 AMG,5.5,бензин
2,2013,Алматы,автомат,седан,передний привод,39258,Да,слева,серый металлик,Toyota Corolla,1.6,бензин
3,1993,Шымкент,автомат,седан,задний привод,0,Да,слева,серый металлик,Mercedes-Benz E 220,2.2,газ-бензин
4,2013,Актобе,автомат,кроссовер,полный привод,60000,Да,слева,серый,Mitsubishi Outlander,2.4,бензин

In [11]:
df = pd.get_dummies(df)
df.head()

,Year,Пробег,Город_Абай (Абайский р-н),Город_Абай (Сарыагашский р-н),Город_Айтеке би,Город_Акколь (Аккольский р-н),Город_Акколь (Таласский р-н),Город_Аксай,Город_Аксу,Город_Аксукент,...,Volume_6.3,Volume_6.5,Volume_7.3,Volume_передний привод,Fuel_type_аккумулятор,Fuel_type_бензин,Fuel_type_газ,Fuel_type_газ-бензин,Fuel_type_гибрид,Fuel_type_дизель
0,2018,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2014,10300,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2013,39258,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2013,60000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [12]:
df['Year'] = df['Year'].apply(str)
df.head()

,Year,Пробег,Город_Абай (Абайский р-н),Город_Абай (Сарыагашский р-н),Город_Айтеке би,Город_Акколь (Аккольский р-н),Город_Акколь (Таласский р-н),Город_Аксай,Город_Аксу,Город_Аксукент,...,Volume_6.3,Volume_6.5,Volume_7.3,Volume_передний привод,Fuel_type_аккумулятор,Fuel_type_бензин,Fuel_type_газ,Fuel_type_газ-бензин,Fuel_type_гибрид,Fuel_type_дизель
0,2018,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2014,10300,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2013,39258,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1993,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2013,60000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [15]:
df = pd.get_dummies(df)
df.head()

,Пробег,Город_Абай (Абайский р-н),Город_Абай (Сарыагашский р-н),Город_Айтеке би,Город_Акколь (Аккольский р-н),Город_Акколь (Таласский р-н),Город_Аксай,Город_Аксу,Город_Аксукент,Город_Актау,...,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,10300,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,39258,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,60000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [16]:
df['Price'] = y
df.head()

,Пробег,Город_Абай (Абайский р-н),Город_Абай (Сарыагашский р-н),Город_Айтеке би,Город_Акколь (Аккольский р-н),Город_Акколь (Таласский р-н),Город_Аксай,Город_Аксу,Город_Аксукент,Город_Актау,...,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Price
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,13800000
1,10300,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,68000000
2,39258,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,5499999
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1850000
4,60000,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,6100000

In [17]:
df.to_csv('preprocessed_data.csv')