# Multivariate Regression Problem

In [78]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [79]:
data = pd.read_csv('data_random_forest.csv')
data.head()

,Price,Year,Город,Коробка передач,Кузов,Привод,Пробег,Растаможен,Руль,Цвет,Names,Volume,Fuel_type
0,13800000,2018,Алматы,автомат,седан,передний привод,1.0,Да,слева,серебристый металлик,Toyota Camry,2.5,бензин
1,68000000,2014,Алматы,автомат,внедорожник,NaN,10300.0,Да,слева,черный,Mercedes-Benz G 63 AMG,5.5,бензин
2,5499999,2013,Алматы,автомат,седан,передний привод,39258.0,Да,слева,серый металлик,Toyota Corolla,1.6,бензин
3,1850000,1993,Шымкент,автомат,седан,задний привод,NaN,Да,слева,серый металлик,Mercedes-Benz E 220,2.2,газ-бензин
4,6100000,2013,Актобе,автомат,кроссовер,полный привод,60000.0,Да,слева,серый,Mitsubishi Outlander,2.4,бензин

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4997 entries, 0 to 4996
Data columns (total 13 columns):
Price              4997 non-null int64
Year               4997 non-null int64
Город              4997 non-null object
Коробка передач    4997 non-null object
Кузов              4997 non-null object
Привод             4405 non-null object
Пробег             3276 non-null float64
Растаможен         4997 non-null object
Руль               4952 non-null object
Цвет               4596 non-null object
Names              4997 non-null object
Volume             4995 non-null float64
Fuel_type          4995 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 507.6+ KB

In [81]:
data = data.drop(columns=['Names'], axis = 1)
data.head()

,Price,Year,Город,Коробка передач,Кузов,Привод,Пробег,Растаможен,Руль,Цвет,Volume,Fuel_type
0,13800000,2018,Алматы,автомат,седан,передний привод,1.0,Да,слева,серебристый металлик,2.5,бензин
1,68000000,2014,Алматы,автомат,внедорожник,NaN,10300.0,Да,слева,черный,5.5,бензин
2,5499999,2013,Алматы,автомат,седан,передний привод,39258.0,Да,слева,серый металлик,1.6,бензин
3,1850000,1993,Шымкент,автомат,седан,задний привод,NaN,Да,слева,серый металлик,2.2,газ-бензин
4,6100000,2013,Актобе,автомат,кроссовер,полный привод,60000.0,Да,слева,серый,2.4,бензин

data preprocessing

In [82]:
from collections import Counter

print(len(np.unique(list(data['Город']))))
print(np.unique(list(data['Город'])))
print(Counter(list(data['Город'])))

137
['Абай (Абайский р-н)' 'Абай (Сарыагашский р-н)' 'Айтеке би'
 'Акколь (Аккольский р-н)' 'Акколь (Таласский р-н)' 'Аксай' 'Аксу'
 'Аксукент' 'Актау' 'Актобе' 'Алматы' 'Амангельды' 'Аральск' 'Аркалык'
 'Аршалы' 'Арысь' 'Аса' 'Астана' 'Астраханка' 'Атакент' 'Атбасар' 'Атырау'
 'Аулиеколь' 'Ащибулак' 'Аягоз' 'Байконыр' 'Байтерек' 'Балкашино' 'Балхаш'
 'Бауыржана Момышулы' 'Бейнеу' 'Бесагаш' 'Большая Владимировка' 'Боралдай'
 'Боровое' 'Бородулиха' 'Ботакара' 'Владивосток' 'Ганюшкино' 'Денисовка'
 'Есик' 'Жалагаш' 'Жанакорган' 'Жанаозен' 'Жангала' 'Жаркент' 'Жезказган'
 'Жетиген' 'Жетыбай' 'Жетысай' 'Житикара' 'Жосалы' 'Жымпиты' 'Зайсан'
 'Затобольск' 'Зыряновск' 'Индерборский' 'Иргели' 'Казалинск' 'Казыгурт'
 'Кайнар' 'Кандыагаш' 'Капчагай' 'Карабалык (Карабалыкский р-н)'
 'Караганда' 'Каражал' 'Каратау' 'Каратобе' 'Каркаралинск' 'Каскелен'
 'Кентау' 'Кокшетау' 'Кордай' 'Костанай' 'Кулан' 'Кульсары' 'Курык'
 'Кызылорда' 'Лисаковск' 'Макат' 'Макинск' 'Мартук' 'Махамбет' 'Мерке'
 'Миялы' 'Москва' 'Осакаровка' 'Отеген батыра' 'Павлодар' 'Петропавловск'
 'Риддер' 'Рудный' 'Самара' 'Самарское' 'Сарань' 'Сарканд' 'Сарыагаш'
 'Сарыкемер' 'Сатпаев' 'Саумалколь' 'Семей' 'Сергеевка' 'Степногорск'
 'Тайынша' 'Талгар' 'Талдыкорган' 'Тараз' 'Текели' 'Темирлановка'
 'Темиртау' 'Теренозек' 'Тобыл' 'Турара Рыскулова' 'Туркестан' 'Узынагаш'
 'Уральск' 'Урджар' 'Усть-Каменогорск' 'Ушарал' 'Ушконыр'
 'Федоровка (Федоровский р-н)' 'Форт-Шевченко' 'Хромтау' 'Шалкар'
 'Шардара' 'Шаульдер' 'Шахтинск' 'Шелек' 'Шемонаиха' 'Шетпе' 'Шиели'
 'Шолаккорган' 'Шу' 'Шубаркудук' 'Шымкент' 'Щучинск' 'Экибастуз']
Counter({'Алматы': 1660, 'Астана': 672, 'Шымкент': 364, 'Караганда': 284, 'Актобе': 215, 'Актау': 195, 'Атырау': 155, 'Костанай': 147, 'Усть-Каменогорск': 146, 'Уральск': 131, 'Павлодар': 117, 'Тараз': 104, 'Семей': 86, 'Петропавловск': 83, 'Кызылорда': 71, 'Кокшетау': 55, 'Талдыкорган': 51, 'Туркестан': 33, 'Жезказган': 24, 'Жанаозен': 22, 'Экибастуз': 20, 'Рудный': 14, 'Жаркент': 12, 'Шиели': 11, 'Талгар': 11, 'Кульсары': 10, 'Байконыр': 10, 'Узынагаш': 10, 'Темиртау': 9, 'Жетысай': 9, 'Владивосток': 8, 'Балхаш': 8, 'Аксай': 8, 'Турара Рыскулова': 8, 'Кордай': 7, 'Есик': 7, 'Капчагай': 7, 'Айтеке би': 6, 'Сатпаев': 6, 'Каскелен': 6, 'Самара': 5, 'Урджар': 5, 'Каратау': 5, 'Зайсан': 5, 'Мерке': 5, 'Шалкар': 5, 'Боралдай': 5, 'Арысь': 5, 'Шахтинск': 5, 'Индерборский': 4, 'Шетпе': 4, 'Шардара': 4, 'Риддер': 4, 'Аксукент': 4, 'Сарыагаш': 4, 'Бейнеу': 4, 'Аягоз': 4, 'Шемонаиха': 3, 'Шу': 3, 'Лисаковск': 3, 'Шубаркудук': 3, 'Щучинск': 3, 'Ганюшкино': 3, 'Ащибулак': 3, 'Кентау': 2, 'Зыряновск': 2, 'Жалагаш': 2, 'Курык': 2, 'Атакент': 2, 'Атбасар': 2, 'Жетыбай': 2, 'Житикара': 2, 'Аксу': 2, 'Жосалы': 2, 'Аркалык': 2, 'Макинск': 2, 'Отеген батыра': 2, 'Жетиген': 2, 'Сарань': 2, 'Шолаккорган': 2, 'Бесагаш': 2, 'Форт-Шевченко': 2, 'Жанакорган': 2, 'Ушарал': 2, 'Кандыагаш': 2, 'Шаульдер': 2, 'Бауыржана Момышулы': 2, 'Шелек': 2, 'Теренозек': 1, 'Аршалы': 1, 'Тобыл': 1, 'Иргели': 1, 'Жангала': 1, 'Акколь (Таласский р-н)': 1, 'Карабалык (Карабалыкский р-н)': 1, 'Аральск': 1, 'Осакаровка': 1, 'Абай (Сарыагашский р-н)': 1, 'Мартук': 1, 'Акколь (Аккольский р-н)': 1, 'Степногорск': 1, 'Денисовка': 1, 'Текели': 1, 'Аса': 1, 'Махамбет': 1, 'Балкашино': 1, 'Сергеевка': 1, 'Каражал': 1, 'Ботакара': 1, 'Самарское': 1, 'Абай (Абайский р-н)': 1, 'Ушконыр': 1, 'Федоровка (Федоровский р-н)': 1, 'Казыгурт': 1, 'Миялы': 1, 'Сарыкемер': 1, 'Саумалколь': 1, 'Большая Владимировка': 1, 'Макат': 1, 'Сарканд': 1, 'Астраханка': 1, 'Аулиеколь': 1, 'Каратобе': 1, 'Затобольск': 1, 'Темирлановка': 1, 'Кайнар': 1, 'Жымпиты': 1, 'Амангельды': 1, 'Бородулиха': 1, 'Каркаралинск': 1, 'Байтерек': 1, 'Хромтау': 1, 'Тайынша': 1, 'Кулан': 1, 'Казалинск': 1, 'Москва': 1, 'Боровое': 1})

In [83]:
cities = []
sum1 = 0
for i,j in Counter(list(data['Город'])).items():
    if j>6:
        cities.append(i)
        sum1 = sum1 + j
print(sum1)

4784

In [84]:
frames = []
for i in cities:
    frames.append(data[data['Город'] == i])
data = pd.concat(frames)
data.head()

,Price,Year,Город,Коробка передач,Кузов,Привод,Пробег,Растаможен,Руль,Цвет,Volume,Fuel_type
1953,2500000,1997,Жаркент,автомат,седан,передний привод,777.0,Да,слева,голубой металлик,2.2,газ-бензин
2000,4200000,2005,Жаркент,автомат,седан,NaN,NaN,Да,слева,золотистый металлик,3.0,бензин
2246,1500000,2003,Жаркент,механика,седан,передний привод,NaN,Да,слева,синий металлик,1.8,бензин
2732,1000000,1991,Жаркент,автомат,седан,задний привод,NaN,Да,слева,серебристый металлик,2.3,бензин
2764,250000,1998,Жаркент,механика,седан,задний привод,1234567.0,Да,слева,белый металлик,1.5,бензин

In [85]:
len(data)

4784

In [86]:
len(cities)

37

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4784 entries, 1953 to 4936
Data columns (total 12 columns):
Price              4784 non-null int64
Year               4784 non-null int64
Город              4784 non-null object
Коробка передач    4784 non-null object
Кузов              4784 non-null object
Привод             4222 non-null object
Пробег             3166 non-null float64
Растаможен         4784 non-null object
Руль               4744 non-null object
Цвет               4406 non-null object
Volume             4782 non-null float64
Fuel_type          4782 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 485.9+ KB

In [88]:
print(Counter(data['Привод']))
print(Counter(data['Руль']))
print(Counter(data['Цвет']))
print(Counter(data['Volume']))
print(Counter(data['Fuel_type']))

Counter({'передний привод': 1918, 'полный привод': 1620, 'задний привод': 684, nan: 562})
Counter({'слева': 4453, 'справа': 291, nan: 40})
Counter({'белый': 686, 'черный металлик': 551, 'серебристый металлик': 540, 'белый металлик': 438, 'черный': 416, nan: 378, 'серый металлик': 295, 'серебристый': 234, 'синий металлик': 171, 'зеленый металлик': 158, 'серый': 138, 'синий': 124, 'зеленый': 88, 'красный': 69, 'золотистый металлик': 48, 'бордовый металлик': 48, 'коричневый металлик': 43, 'вишня металлик': 43, 'красный металлик': 40, 'вишня': 31, 'бордовый': 29, 'голубой металлик': 29, 'коричневый': 25, 'золотистый': 19, 'бежевый': 18, 'бежевый металлик': 17, 'фиолетовый металлик': 14, 'хамелеон': 11, 'голубой': 10, 'бирюзовый металлик': 9, 'бирюзовый': 9, 'фиолетовый': 9, 'хамелеон металлик': 8, 'оранжевый металлик': 7, 'бронза металлик': 6, 'жёлтый': 6, 'бронза': 6, 'сиреневый металлик': 6, 'оранжевый': 5, 'розовый металлик': 1, 'сиреневый': 1})
Counter({1.6: 751, 2.0: 699, 2.5: 394, 3.0: 389, 1.8: 312, 2.4: 294, 3.5: 228, 1.5: 201, 2.7: 129, 2.8: 118, 2.2: 102, 2.3: 92, 3.2: 85, 4.7: 81, 1.4: 77, 4.0: 72, 1.7: 61, 4.6: 60, 5.5: 57, 5.0: 55, 2.9: 51, 5.7: 46, 4.5: 43, 2.6: 37, 1.3: 36, 4.4: 31, 3.3: 28, 4.2: 27, 3.6: 24, 5.6: 22, 6.0: 19, 3.7: 18, 1.9: 18, 4.8: 16, 1.2: 16, 3.8: 14, 1.0: 12, 6.2: 9, 4.3: 7, 0.8: 7, 6.3: 7, 3.9: 5, 0.7: 3, 0.9: 2, 3.4: 2, 6.5: 2, 2.1: 2, 1.1: 2, 2.89: 2, 5.2: 2, 5.3: 2, 1.25: 1, nan: 1, 7.3: 1, 1.84: 1, 2.57: 1, 5.9: 1, 2.99: 1, 2.885: 1, 0.3: 1, 2.75: 1, 5.4: 1, 4.96: 1, 2.97: 1, 6.1: 1, nan: 1})
Counter({'бензин': 3788, 'газ-бензин': 580, 'дизель': 388, 'газ': 15, 'гибрид': 11, nan: 2})

In [89]:
data['Привод'] = data['Привод'].fillna('передний привод')
data['Руль'] = data['Руль'].fillna('слева')
data['Цвет'] = data['Цвет'].fillna('белый')
data['Volume'] = data['Volume'].fillna('1.6')
data['Fuel_type'] = data['Fuel_type'].fillna('бензин')

In [90]:
data['Пробег'] = data['Пробег'].fillna(data['Пробег'].median())

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4784 entries, 1953 to 4936
Data columns (total 12 columns):
Price              4784 non-null int64
Year               4784 non-null int64
Город              4784 non-null object
Коробка передач    4784 non-null object
Кузов              4784 non-null object
Привод             4784 non-null object
Пробег             4784 non-null float64
Растаможен         4784 non-null object
Руль               4784 non-null object
Цвет               4784 non-null object
Volume             4784 non-null object
Fuel_type          4784 non-null object
dtypes: float64(1), int64(2), object(9)
memory usage: 485.9+ KB

In [92]:
y = data['Price']
data = data.drop(columns=['Price'], axis = 1)
data.head()

,Year,Город,Коробка передач,Кузов,Привод,Пробег,Растаможен,Руль,Цвет,Volume,Fuel_type
1953,1997,Жаркент,автомат,седан,передний привод,777.0,Да,слева,голубой металлик,2.2,газ-бензин
2000,2005,Жаркент,автомат,седан,передний привод,119000.0,Да,слева,золотистый металлик,3,бензин
2246,2003,Жаркент,механика,седан,передний привод,119000.0,Да,слева,синий металлик,1.8,бензин
2732,1991,Жаркент,автомат,седан,задний привод,119000.0,Да,слева,серебристый металлик,2.3,бензин
2764,1998,Жаркент,механика,седан,задний привод,1234567.0,Да,слева,белый металлик,1.5,бензин

In [93]:
data['Year'] = data['Year'].apply(str)

In [94]:
data = pd.get_dummies(data) 
# Не знаю правильно ли использовать даммис но будеть спрашивать нумерик значения, 
# а для категориальных данных интеджер нумерация не очень хорошо, но можно попробовать
data.head()

,Пробег,Year_1961,Year_1964,Year_1966,Year_1969,Year_1977,Year_1979,Year_1981,Year_1982,Year_1983,...,Volume_6.2,Volume_6.3,Volume_6.5,Volume_7.3,Volume_1.6,Fuel_type_бензин,Fuel_type_газ,Fuel_type_газ-бензин,Fuel_type_гибрид,Fuel_type_дизель
1953,777.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2000,119000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2246,119000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2732,119000.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2764,1234567.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

Train-test

In [95]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.33, random_state=42) 
#Splits dataset to training and testing data

Random Forest

In [96]:
from sklearn.ensemble import RandomForestRegressor
randomf = RandomForestRegressor()

In [97]:
randomf.fit(X_train, y_train)
y_pred = randomf.predict(X_test)

C:\Users\zhang\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Root mean squared error

In [98]:
from sklearn.metrics import mean_squared_error

print(np.sqrt(mean_squared_error(randomf.predict(X_train), y_train)))
print(np.sqrt(mean_squared_error(y_pred, y_test)))

1398905.2839671816
2997735.314350806

Corr coefs analysis

In [99]:
from scipy.stats import kendalltau, spearmanr

In [101]:
r2 = randomf.score(X_train, y_train)
r2

0.9478611251916337

In [102]:
t, t_p = kendalltau(y_pred, y_test)
r, r_p = spearmanr(y_pred, y_test)

In [105]:
print('Kendall rank correlation coefficient(Close to 1 is better):', t)
print('Spearmans rank corr coefficient(Close to 1 is better):', r)

Kendall rank correlation coefficient(Close to 1 is better): 0.7174682188508716
Spearmans rank corr coefficient(Close to 1 is better): 0.8813390018550825

Cross-val with GridSearch

In [106]:
from sklearn.model_selection import GridSearchCV

In [107]:
rand_params = {'max_depth': range(2,22), 'n_estimators': range(5,11)}
#cv score = 10
randomf_cv = GridSearchCV(randomf, param_grid=rand_params, cv = 10, n_jobs=-1)

In [108]:
randomf_cv.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'n_estimators': range(5, 11), 'max_depth': range(2, 22)},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [109]:
randomf_cv.best_params_

{'max_depth': 18, 'n_estimators': 9}

In [110]:
randomf_cv.best_score_ #Result is not good

0.7082047522846117

In [111]:
y_pred2 = randomf_cv.best_estimator_.predict(X_test)

In [112]:
print(np.sqrt(mean_squared_error(randomf_cv.best_estimator_.predict(X_train), y_train)))
print(np.sqrt(mean_squared_error(y_pred2, y_test)))

1670808.857660936
3018682.8392637796

#Хотел на ПСА посмотреть не успел

Результаты не очень хорошие, после грид серча все ухудшилось, нужно будет на большие естимэйторы посмотреть

Щас работаю над градиент бустингом, после составлю модель на нейронку